.card{
    overflow-y: hidden;
    text-align: center;
    margin-bottom: 50px;
    width: 750px;
    height: 650px;
    background-color: #e4e4e4;
    border-radius: 10px;

    animation-delay: 1s;
    animation: fade-out 3s;
    animation-fill-mode: forwards ;
    
}

@keyframes fade-out{
    0%{ opacity: 0;}
    100%{ opacity: 100;}
    
}

.houseIMG{
    padding: 10px;
    text-align: center;
    width: 600px;
    height: 400px;
    margin: auto;
}

.holder{
    display: flex;  
    align-items: center;

}

.rightArrow{
    width: 150px;
    height: 150px;
    cursor: pointer;


}

.rightArrow:active{
    transform: translateX(5px);
}

.leftArrow{
    width: 150px;
    height: 150px;
    cursor: pointer;
    
}

.leftArrow:active{
    transform: translateX(-5px);
}

.title{
    text-align: center;
}

.title h2{
    font-size: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #002D62; 
}