

.card{
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    margin-bottom: 50px;
    width: 750px;
    height: 650px;
    background-color: #e4e4e4;


    animation-delay: 1s;
    animation: fade-out 3s;
    animation-fill-mode: forwards ;
    
}

.textHolder{
    display: flex;
    align-items: center;
    margin: auto;
}

@keyframes fade-out{
    0%{ opacity: 0;}
    100%{ opacity: 100;}
    
}

.houseIMG{
    text-align: center;
    width: 750px;
    height: 650px;
    margin: auto;
    animation: fade-out 5s;
    animation-fill-mode:forwards ;
}

.houseIMG.change{
    animation: changeImage 2s forwards;
    animation-fill-mode:forwards ;
}

@keyframes changeImage{
    0%{ opacity: 0;}
    100%{ opacity: 100;}
    
}

.holder{
    display: flex;  
    align-items: center;
    height: 750px;
}

.rightArrow{
    width: 150px;
    height: 150px;
    cursor: pointer;
    opacity: 0.1;

}

.rightArrow:hover{
    opacity: 1;
}

.animationRight{
    animation: moveRight 0.5s forwards;
}

.rightArrow:active{
    transform: translateX(5px);
}

.leftArrow{
    width: 150px;
    height: 150px;
    cursor: pointer;
    opacity: 0.1;
    
}

.leftArrow:hover{
    opacity: 1;
}

.leftArrow:active{
    transform: translateX(-5px);
}

.title{
    text-align: center;
}

.title h2{
    font-size: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #002D62; 
}