.sliderCard{
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    margin-top: 100px;
    width: 100%;
}
.sliderImage{
    width: 100%;
    height: 800px;
}
body{
    margin-top: 50px;
    width: 100%;
    overflow-y:hidden;
}
.card{
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 50px;
    width: 100%;
    height: 800px;
    /* background-color: #e4e4e4; */
    background-color: #d1bea8    ;
    animation-delay: 1s;
    animation: fade-out 3s;
    animation-fill-mode: forwards ;
    
}

@keyframes fade-out{
    0%{ opacity: 0;}
    100%{ opacity: 100;}
    
}

.houseIMG{
    width: 900px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}

.textHolder{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.intro{
    font-size: 40px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    color: #002D62; 
    /* background-color: bisque; */
    text-align: left;
    width: 450px;
}

.introBody{
    margin-top: 85px;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    color: #002D62;
    width: 450px;
    line-height: 40px;
    

}

.slider{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider1{
    margin-top: 100px;
}

.links{
    width: 100%;
    
}

.sliderTop{
    margin-top: 75px;
}