<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Fredoka+One&family=Bangers&family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <!-- <div class="sliderCard"><img class="sliderImage" src="assets/florida1.jpeg" alt="Slider Image"></div> -->

  <app-slide-back class="sliderCard"> </app-slide-back>

<div class="card">
    
    <div class="textHolder">
        <p class="intro">Aspire Construction</p>
        <p class="introBody">Is a family owned contracting company based and serving the greater St. Petersburg area. We at Aspire are dedicated to providing contracting services that are marked with integrity, honesty, and efficiency. Take a look at some of the projects we've worked on and feel free to reach out for a quote today!</p>
    </div>

     <div class="sliderTop">
         <img src="assets/travis-bianco.jpeg" class="travisImage">
     </div>
    
    
</div>
<!-- <app-slider></app-slider> -->

  <h2 class="sliderTitle">Projects</h2>
 <div class="slider">

  <app-new-slider></app-new-slider>
</div>


<div class="about">
  <app-about></app-about>
</div>


<div class="links">
  <app-links></app-links>
</div>

<div class="quote" routerLink="/contact">
  <p>Request a Quote</p>
</div>
  

</body>