
body{
    margin-top: 50px;
    width: 100%;
    overflow-y:hidden;
}
.card{
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 100%;
    height: 800px;
    background-color: #a9a9a9;
    animation-delay: 1s;
    animation: fade-out 3s;
    animation-fill-mode: forwards ;
    
}

@keyframes fade-out{
    0%{ opacity: 0;}
    100%{ opacity: 100;}
    
}

.houseIMG{
    width: 900px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}

.textHolder{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.intro{
    font-size: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #002D62; 
    /* background-color: bisque; */
    text-align: left;
}

.introBody{
    /* background-color: bisque; */
    margin-top: 50px;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    color: #002D62;
    width: 350px;
    line-height: 25px;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider1{
    margin-top: 100px;
}

.links{
    width: 100%;
    
}
