<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Fredoka+One&family=Bangers&family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="card">
    
    <img class="houseIMG"src="assets/floridaHouse.jpeg">
    <div class="textHolder">
        <p class="intro">Aspire Construction</p>
        <p>The next section</p>
    </div>
    
    
</div>
</body>