.sliderCard{
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    margin-top: 100px;
    width: 100%;
}
.sliderImage{
    width: 100%;
    height: 800px;
}
body{
    margin-top: 50px;
    width: 100%;
    overflow-y:hidden;
}

.homeCard{
    width: 100%;
}

.sliderTitle{
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-top: 25px;

    color: #002D62; 
}

@keyframes fade-out{
    0%{ opacity: 0;}
    100%{ opacity: 100;}
    
}

.houseIMG{
    width: 900px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}



.slider{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.links{
    width: 100%;
    
}

.sliderTop{
    margin: auto;
    width: 40%;
}

.travisImage{
    width: 600px;
    
}

.about{
    background-color: #d1bea8;
}

.quote{
    width: 220px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid #002D62;
    background: linear-gradient(135deg, #e4e2e2,   #d1bea8);
    border-radius: 5px;
}
.quote p{
    margin: auto;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: #002D62;
}

.quote:hover{
    transform: translateY(-4px) scale(1.04);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.quote:active{
    transform: translateY(4px) scale(0.96);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    background: linear-gradient(135deg, #e4e2e2, #bab9c2);
}


