.HomeButton{
    width: 200px;
    margin-top: -100px;
    color: transparent;
}
.fLine{
    margin-top: 50px;
    margin-left: 30px;
} 
.logo{
    font-size: 50px;
    margin-top: 50px;
    margin-left: 25px;
    color: #002D62; 
}


.logoButton{
  margin-left: 20px;
  margin-top: 30px;
  text-decoration: none;
  text-align: left;
}

.logoButton:hover{
  background-color: transparent !important;
  box-shadow: none !important;
  cursor: pointer;
} 

.logo-img{
  margin-left: -5px;
  width: 230px;
}

.subLogo{
  margin-top: -5px;
  color: #002D62;
  width: 200px;
  font-size: 20px;
  margin-left: 20px;
  animation-delay: 1s;
  animation: accordian 5s;
  animation-fill-mode: forwards ;
}

@keyframes accordian{
    0%{ letter-spacing: normal;}
    100%{ letter-spacing: 9.5px;}
    
}

.toolbar {
    /* background-color: #5F9EA0; */
    background-color: white;;
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;

    z-index: 1;

  }
  
  .logo-text img{
    display: block;
    float: left;
    width: 185px;
    height: auto;
    margin-left: 20px;
    margin-top: 25px;
  }
  
  
  .link-list{
    margin-top: -55px;
    text-align: center;
  }
  
   .link-list a{

      color: #002D62;
      font-size: 25px;
  
  } 
  
  .palm-logo{
      height: 300px;
      width: auto;
  }
  
  .logo-text a{
    width: 10px;
  }
  
  .logo-text{
      display: inline-block;
      margin-left: 100px;
      margin-top: 30px;
  }
  
  /* .logo-text h1{
      margin: auto;
      font-size: 35px;
      color: #625547;
      color: #2B2B2B;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      letter-spacing: 0.5px;
  } */
  
  .dropdown {
      display: none;
    }
    
    .logo-wave{
      display: none;
    }

    @media only screen and (min-width: 393px) and (max-width: 852px) {
    
      body{
        display: none;
      }

      .mobile{
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      
      .fLine{
        margin-bottom: 50px;
        justify-content: center;
      }

      .fLine{
        margin-top: 25px;
        margin-left: 0px;
      }  
      .logo{
          font-size: 50px;
          margin-top: 50px;
          margin-left: 25px;
          color: #002D62; 
      }


      .logoButton{
        margin: auto;
        margin-top: 30px;
        text-decoration: none;

      }

      .link-list{
        margin-top: -30px;
      text-align: center;
      }

      .subLogo{
        margin-top: -5px;
        color: #002D62;
        width: 200px;
        font-size: 20px;
        margin-left: 85px;
        animation-delay: 1s;
        animation: accordian 5s;
        animation-fill-mode: forwards ;
      }

    }
  @media only screen and (width <= 1000px) {
    
  
      /* .dropdown {
        display: block;
      }
      */
      #allButton{
        text-align: center;
      }
  
      .dropbtn {
          background-color: #3498DB;
          color: white;
          padding: 10px;
          font-size: 16px;
          border: none;
          cursor: pointer;
          display: block;
        }
        
        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
          background-color: #2980B9;
        }
        
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
          position: relative;
          display: block;
          /* transition: transform .7s ease-in-out; */
        }
        
        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        /* Links inside the dropdown */
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}
        
        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {display:block;}
    }
  
  