<div class="toolbar">
    <body>

        
    
        <div id="allButton">
            <a href="/"></a>
            <div class="fLine">
                <!-- <p class="logo">ASPIRE</p>
                <img class="logo-img" src="assets/TBLogo.webp"> -->
                <a class="logoButton" routerLink="/" >
                    <img class="logo-img" src="assets/AspireLogo.png">
                    <p class="subLogo">Construction</p>
                </a>
                
            </div>
            
    
            <div class="link-list">
                <a mat-button routerLink="/">
                    Home
                </a>
    
                <a mat-button routerLink="/contact">
                    Contact
                </a>
    
            </div>
            </div>
        </body>
    </div>
    
    