<div class="toolbar">
    <body>
        <div id="allButton">

            <div class="fLine">
                <a class="logoButton" routerLink="/" >
                    <img class="logo-img" src="assets/AspireLogoW.png">
                    <p class="subLogo">Construction</p>
                </a>
            </div>
            
    
            <div class="link-list">
                <a mat-button routerLink="/">
                    Home
                </a>
    
                <a mat-button routerLink="/contact">
                    Contact
                </a>
    
            </div>
        </div>
    </body>
</div>
    
    