<div class="toolbar">
    <body>

        
    
        <div id="allButton">
            <p class="logo">ASPIRE</p>
            <img class="logo-img" src="assets/TBLogo.webp">
            <p class="subLogo">Construction</p>
            <!-- <a mat-button class="HomeButton" routerLink="/">click here</a> -->
    
            <div class="link-list">
                <a mat-button routerLink="/">
                    Home
                </a>
    
                <a mat-button routerLink="/contact">
                    Contact
                </a>
    
            </div>
            </div>
        </body>
    </div>
    
    