body{

    width: 100%;
    overflow-y:hidden;
    overflow-x: hidden;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    margin: auto;
    width: 100%;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.contact-left-title{
    text-align: center;
    margin-bottom: 20px;
}

.title{
    font-size: 40px;
    font-weight: 300;
    color: #002D62;
    line-height: 25px;
    text-align: left;
}

input{
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
}

form{
    width: 100%;
}