body{
    margin-top: 200px;
    width: 100%;
    overflow-y:hidden;
    overflow-x: hidden;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    margin-bottom: 100px;

}

.contact-left-title{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

.title{
    font-size: 40px;
    font-weight: 300;
    color: #002D62;

}

input{
    width: 90%;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;

}

input::placeholder{
    font-size: 20px;
    padding: 10px;
}

textarea{
    width: 90%;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    resize: none;       /* disables drag-to-resize */
    overflow-y: auto; 
    font-size: 20px;
}

textarea::placeholder{

    font-size: 20px;
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10px;
    margin: auto;
    text-align: center;
    box-shadow: 0 2px 8px rgba(71, 7, 7, 0.85);
    
    width: 50%;
    border-radius: 10px;
    height: 500px;
}


hr{
    width: 50%;
    margin-bottom: 20px;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
}