
<body>
    

<div class="about-content">


    <div class="card">

    <div class="sliderTop">
         <img src="assets/travis-work.jpeg" class="travisImage">
     </div>
    
    <div class="textHolder">
        <p class="intro">Aspire Construction</p>
        <p class="introBody">Is a family owned contracting company based and serving the greater St. Petersburg area. We at Aspire are dedicated to providing contracting services that are marked with integrity, honesty, and efficiency. Take a look at some of the projects we've worked on and feel free to reach out for a quote today!</p>
    </div>

</div>
    
</div>

<div class="aboutMobile">
    <div class="cardMobile">
    <p class="introMobile">About Us</p>

    <img src="assets/travis-work.jpeg" class="travisImageMobile">
    
    
    <p class="introBodyMobile">We are a family owned contracting company based and serving the greater St. Petersburg area. We at Aspire are dedicated to providing contracting services that are marked with integrity, honesty, and efficiency. Take a look at some of the projects we've worked on and feel free to reach out for a quote today!</p>

</div>
</div>
</body>