

<div class="about-content">

<div class="title">
    <h2>Who we are</h2>
    <hr class="title-ul">
</div>
    
    <table>
        <tr class="about-row">
            <td class="about-cell">

                <p>
                    Owner of Aspire Construction, Travis Bianco is a dedicated family man who is committed to performing his work with integrity, honesty, and efficiency. A former professional athlete, Travis brings the same level of dedication and discipline to his work in construction. Travis believes in building strong relationships with his clients and delivering high-quality workmanship on every project. Whether you're looking to build a new home or renovate an existing one, Travis and his team at Aspire Construction are ready to help you achieve your goals.
                </p>
            </td>

            <td class="photo-cell">
                <div class="photo-holder">
                    <img class="about-photo" src="assets/tb-hs.webp">
                </div>
            </td>
        </tr>
    </table>
</div>