
body{
    margin-top: 125px;
    width: 100%;
    overflow-y:hidden;
    overflow-x: hidden;
}

.pBody{
    margin-top: 125px;
    width: 200%;
    overflow-y:hidden;
    overflow-x: hidden;
}
.card{
    overflow-y: hidden;
    overflow: hidden;
    display: inline-block;
    align-items: flex-start;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 500px;
    height: 500px;
    background-color: #A9A9A9;
    border-radius: 10px;
    animation-delay: 1s;
    animation: fade-out 3s;
    animation-fill-mode: forwards ;
    box-shadow: 0 4px 8px 0 rgba(4, 4, 4, 0.856), 0 6px 20px 0 rgb(0, 0, 0);
    /* box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.595); */
    transition: all 0.2s ease-in-out;
}

@keyframes fade-out{
    0%{ opacity: 0;}
    100%{ opacity: 100;}
    
}

.houseIMG{
    height: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}

.textHolder{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.intro{
    font-size: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #002D62; 
    /* background-color: bisque; */
    text-align: left;
}

.introBody{
    /* background-color: bisque; */
    margin-top: 50px;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    color: #002D62;
    width: 350px;
    line-height: 25px;
}

.slide-toggler.active .card{

    transform: translateX(500px);
    -webkit-tap-highlight-color: transparent;
    /* animation-delay: 1s;
    animation: fade-in 3s;
    animation-fill-mode: forwards ; */
    box-shadow: 0 4px 8px 0 rgba(4, 4, 4, 0.856), 0 6px 20px 0 rgb(0, 0, 0);
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.595);
}

@keyframes fade-in{
    0%{ transform: translateX(500px);}
    100%{ transform: translateX(500px);}
    
}