<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Fredoka+One&family=Bangers&family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
<title>Slider</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="pBody">
<div class="slide-toggler" [class.active]="isActive">
<div class="card" *ngFor="let holder of project; index as i">
    
    <img class="houseIMG"src="assets/floridaHouse.jpeg">
    <div class="textHolder">
        <p class="intro">{{holder.title}}</p>
        <p class="introBody">{{holder.description}}</p>
    </div>
</div>
    
</div>
<button class="slideButton"  (click)="moveLeft()"><-</button>
    <button class="slideButton"  (click)="moveLeft()">-></button>
    <p>{{hold.title}}</p>
</div>
</body>