.card{
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 50px;
    width: 100%;
    height: 800px;
    /* background-color: #e4e4e4; */
    background-color: #d1bea8;
    animation-delay: 1s;
    animation: fade-out 3s;
    animation-fill-mode: forwards ;
    border-bottom: #002D62 solid 2px;
    
}

.travisImage{
    width: 600px;
    
}


.textHolder{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.introM{
    display: none;
}

.intro{
    font-size: 40px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    color: #002D62; 
    /* background-color: bisque; */
    text-align: left;
    width: 450px;
}

.introBody{
    margin-top: 85px;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    color: #002D62;
    width: 450px;
    line-height: 40px;
}

.sliderTop{
    margin: auto;
    width: 40%;
}

@media only screen and (min-width: 393px) and (max-width: 852px) {
    .card{
        border-top: #002D62 solid 2px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    /* .card{
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 50px;
    width: 100%;
    height: 800px;
    background-color: #d1bea8;
    animation-delay: 1s;
    animation: fade-out 3s;
    animation-fill-mode: forwards ;
    border-bottom: #002D62 solid 2px;
    
} */

    .introBody{
        width: 90%;
        margin: auto;
        text-align: center;
        margin-top: -5px;
        margin-bottom: 100px;
    }

    .intro{
        display: none;
    }
    .introM{
    display: block;
    font-size: 40px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    color: #002D62; 
    /* background-color: bisque; */
    text-align: center;
    width: 90%;
    }

    .travisImage{
    width: 80%;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    
    }

    .sliderTop{
        width: 100%;
        margin: auto;
        text-align: center;
    }
}