<div class="card">
    
    <div class="textHolder">
        <p class="intro">Aspire Construction</p>
        <p class="introBody">Is a family owned contracting company based and serving the greater St. Petersburg area. We at Aspire are dedicated to providing contracting services that are marked with integrity, honesty, and efficiency. Take a look at some of the projects we've worked on and feel free to reach out for a quote today!</p>
    </div>

     <div class="sliderTop">
         <img src="assets/travis-bianco.jpeg" class="travisImage">
     </div>
    
    
</div>