<body>

<table class="links-table">
    <tr class="link-row">
        <td class="lic-cell">
            <p>
                LIC# 12234566543
            </p>
        </td>

        <td class="link-cell">
            <p>
                https://www.example.com
            </p>
        </td>
    </tr>
</table>


<div class="links-mobile">
    <div class="link-mobile-item1">
            <p>LIC#12234566543</p>
    </div>

    <div class="link-mobile-item2">
           <a href="https://www.instagram.com"><p>Instagram</p></a>
    </div>
</div>

</body>